@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    --foreground-main: #f5f5f5;
    --background-main: rgb(0, 0, 0);
    --background-semiclear: rgba(0, 0, 0, 0.8);
    --foreground-secondary: #c074d6;
    --major-font: 'Open Sans', sans-serif;
    --code-font: 'Inconsolata', monospace;
}

html {
    font-family: var(--major-font);
    overflow: hidden;
}


/* Menubar */

ul {
    list-style-type: none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-main);
    color: var(--foreground-main);
}

li {
    float: left;
}

li a,
.dropbtn {
    display: inline-block;
    color: var(--foreground-main);
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--background-main);
    color: var(--foreground-main);
    cursor: pointer;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-main);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--foreground-main);
    padding: 6px 8px;
    font-size: .9rem;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--foreground-main);
    color: var(--background-main);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Tabs */

.tabs {
    list-style-type: none;
    margin: -8px;
    margin-top: 9px;
    padding: 0;
    overflow: hidden;
    background-color: var(--background-main);
    color: var(--foreground-main);
    padding-left: 4px;
    padding-right: 8px;
}

.tab {
    display: inline-block;
    font-size: .95rem;
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.tab-selected {
    background-color: var(--background-main);
    color: var(--foreground-secondary);
    font-weight: bold;
}

.tab-content {
    display: inline-block;
}

.tab-close {
    display: inline-block;
    margin-left: 5px;
}

.editor-container {
    margin: -8px;
    margin-top: 9px;
    width: calc(100%+1vh);
    height: 93vh;
    resize: vertical;
    overflow: auto;
}

.dialog {
    background-color: var(--background-main);
    color: var(--foreground-main);
    border: 1px solid var(--foreground-main);
    position: absolute;
    z-index: 2;
    padding: 1% 1% 1% 1%;
    top: 25%;
    left: 38%;
}

.dialog-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.textInput {
    background: none;
    color: var(--foreground-main);
    font-size: 1.2rem;
    border: 1px solid var(--foreground-main);
    margin-top: 5px;
    margin-bottom: 10px;
}

.button {
    padding: 10 10 10 10;
    background: none;
    color: var(--foreground-main);
    border: 1px solid var(--foreground-main);
    font-size: 1.1rem;
    cursor: pointer;
}

.button:hover {
    background: var(--foreground-main);
    color: var(--background-main);
}

#statusBar {
    margin: -8px;
    margin-top: 10px;
    width: 101%;
    height: 2.5vh;
    background: var(--background-main);
}

hr {
    border-top: 1px solid var(--foreground-main);
}

.dialogBig {
    background-color: var(--background-main);
    color: var(--foreground-main);
    border: 1px solid var(--foreground-main);
    position: absolute;
    z-index: 2;
    padding: 1% 1% 1% 1%;
    left: 18%;
    top: 13%;
    width: 64%;
    height: 64%;
    display: none;
}

.dialogBig-majortext {
    font-size: 2.2rem;
    font-weight: bold;
}

.dialogBig-categories {
    display: inline-block;
    width: 20%;
    padding: 1% 1% 1% 1%;
    font-size: 1.5rem;
    vertical-align: top;
}

.dialogBig-categories-category {
    cursor: pointer;
}

.selected {
    font-weight: bold;
    color: var(--foreground-secondary);
}

.dialogBig-options {
    display: inline-block;
    padding: 1% 1% 1% 1%;
    width: 70%;
    height: 80%;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
}

.dialogBig-options-option {
    margin-bottom: 10px;
}

.dialogBig-options-option-title {
    font-size: 1.3rem;
    margin-bottom: .5px;
}